#This tells Spring Boot: “use Render’s $PORT environment variable (10000), otherwise fallback to 8080”
server:
  port: ${PORT:8080}

spring:
  main:
    banner-mode: off
  profiles:
    active: dev   # ← This enables @Profile("dev")
  datasource:
    url: jdbc:mysql://localhost:3306/sirsdb?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
    username: root
    password: abc123
    driver-class-name: com.mysql.cj.jdbc.Driver
actuator:
  endpoints:
    web:
      exposure:
        include: "*"  # Exposes all actuator endpoints in dev (security: only in dev)
  mappings:
    enabled: true


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
    enabled: true

logging:
  level:
    com.example.sirs: DEBUG